<h2 class="ui center aligned icon header">
  <i class="circular file alternate outline icon"></i>
  Categories of <%= @person.name %>
  <div><%= link_to 'Create new category', categories_new_path, class: 'ui red basic button centered' %></div>

</h2>
<% @categories.each do |category| %>


  <div class="ui centered card">
    <div class="content">
      <div class="center aligned header"><%= category.title %> [<%= category.debit ? 'Debit' : 'Credit' %>]</div>

      <div class="center aligned description">
        <p>Total amount: N/A</p>
      </div>
    </div>

    <div class="extra content">
      <div class="center aligned author">
        <!-- TODO: Fix path -->
        <%=link_to 'Edit','/categories/'+category.id.to_s+'/edit' ,class:'ui blue basic button' %>
        <%= link_to 'Delete', category_path(category), method: :delete, class: can_be_deleted?(category) ? 'ui red basic button': 'ui red basic button disabled', data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  </div>

<% end %>