<h2 class="ui center aligned icon header">
  <i class="circular id card outline icon"></i>
  Your persons
  <div><%= link_to 'Create new Person', new_person_path, class: 'ui red basic button centered' %></div>
</h2>


<% @persons.each do |person| %>
  <div class="ui centered card">
    <div class="content">
      <div class="center aligned header"><%= person.title %></div>
      <div class="center aligned description">
        <p>Name: <%= person.name %></p>
      </div>
      <div class="center aligned description">
        <p>Lastname: <%= person.lastname %></p>
      </div>
    </div>
    <div class="extra content">
      <div class="center aligned author">
        <%=link_to 'Edit', edit_person_path(person) ,class:'ui blue basic button' %>
        <%= link_to 'Delete', person_path(person), method: :delete, class: current_user.people.count > 1 ? 'ui red basic button' : 'ui red basic button disabled', data: { confirm: 'Are you sure?' } %>

        <!-- TODO: fix path!!! -->
        <%=link_to 'Categories', '/person/'+person.id.to_s+'/categories' ,class:'ui teal basic button categories-btn' %>

        <% unless current_user.people.count > 1 %>
          <div class="ui negative message">
            <div class="header">
              You can't delete the last person
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>