<h2 class="ui center aligned icon header">
  <i class="circular money bill alternate outline icon"></i>
  Update transaction

</h2>

<%= form_for :money_transaction do |f| %>
  <div class="ui segment inverted">
    <%= render "devise/shared/error_messages", resource: @money_transaction %>
    <div class="ui form inverted">
      <div class="field">
        <%= f.label 'Amount' %>
        <%= f.text_field :amount_value, placeholder: 'Amount' %>
      </div>
      <div class="field">
        <div class="important-handler"><%= f.label 'Important status: ' %>
          <%= f.check_box :important, class: 'important-checkbox' %>
        </div>
      </div>
      <div class="field">
        <%= f.label 'Relationship between person and category' %>
        <%= f.collection_select(:person_category_id, PersonCategory.where(person_id: current_user.people), :id, :select_title) %>
      </div>
      <%= f.submit "Update transaction", class: 'ui button' %>
    </div>
  </div>
<% end %>